<% provide(:title, "How To Lend")%>

<div class="container">
	<div class ="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="how-box">
				<div class="how-header text-center" >
					<h4>Getting Started</h4>
				</div>
				<div class="how-content bg-light-grey">
				<ul>
					<li><span style="font-weight:bold"><%= link_to "Become a Member", signup_path%></span> </li>
					<li>Add any items you wish
						to rent out to the site.</li>
					<li>Items MUST be in good working order - you face
						expulsion from the page if you try to rent 
						sub-standard items. </li>
					<li>Once that's done all there is to do is wait for 
						someone to register their interest in your
						item</li>
				</ul>
				</div>
			</div>
			<div class="how-box">
				<div class="how-header text-center">
					<h4>Someone Has Registered their Interest</h4>
				</div>
				<div class="how-content bg-light-grey">
					<ul>
						<li>Anyone registering their interest in your item will receive your
							email address and get in contact with you.</li>
						<li>Over email arrange a meet up time and location that is
							convenient for you both. We recommend public places 
							to ensure everybody's safety.</li>
							
					</ul>
				</div>
			</div>
			<div class="how-box">
				<div class="how-header text-center">
					<h4>It's Handover Day</h4>
				</div>
				<div class="how-content bg-light-grey">
					<ul>	
						<li>Meet at the agreed upon time and date: remember
							to take the item with you!</li> 
						
						<li>There is a code on your user account page in the appropriate
							contract, give that to your borrower.</li>

						<li>The borrower must enter this code in their account page
							on your shared contract.</li>
						<li>This confirms that they have received the item in good working order, 
							and that it is as advertised.</li>
					</ul>
				</div>
			</div>
			<div class="how-box">
				<div class="how-header text-center">
					<h4>It's Return Day</h4>
				</div>
				<div class="how-content">
					<ul>		
						<li> When the date of return comes about, meet up once more 
							with the borrower.</li>
						<li> This time you must enter the code given to you 
							by the borrower in the correct contract on your account page
							, confirming that the item has been 
							returned in the condition in which it was lent.</li>
						<li> Payment will be sent to your account.</li>
						<li> Compensation in the form of a deposit will be
							given for any items not returned.</li>
						
					</ul>
				</div>
			</div>
			<div class="how-box">
				<div class="how-header text-center">
					<h4>Insurance</h4>
				</div>
				<div class="how-content">
					<p>In order to keep all parties safe, we insure all
						items being lent. Our insurer uses
						the details kept in the smart contract to insure 
						your items against damage and loss. </p>
				</div>
			</div>
		</div>

		<div class="col-md-3"></div>
	</div>
</div>
