<% provide(:title, "How To Borrow")%>

<div class="container">
	<div class ="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="how-box">
				<div class="how-header text-center" >
					<h4>Getting Started</h4>
				</div>
				<div class="how-content  bg-light-grey">
				<ul>
					<li><span style="font-weight:bold"><%= link_to "Become a Member", signup_path%></span> </li>
					<li>Search our site for items you want to 
						borrow</li>
				</ul>
				</div>
			</div>
			<div class="how-box">
				<div class="how-header text-center">
					<h4>Found Something To Borrow?</h4>
				</div>
				<div class="how-content  bg-light-grey">
					<ul>
						<li>Now that you've found the item you want, register your
							interest with the owner via the item page.</li>
						<li>You will find the owners email in your account page.</li>
						<li>Over email arrange a meet up time and location that is
							convenient for you both. We recommend public places 
							to ensure everybody's safety.</li>
						</ul>
				</div>
			</div>
			<div class="how-box">
				<div class="how-header text-center">
					<h4>It's Handover Day</h4>
				</div>
				<div class="how-content  bg-light-grey">
					<ul>
						<li>Meet at the agreed upon time and date and receive the item,
							the owner will give you a code to enter into your account
							page under the correct contract.</li>  
						<li>Entering the code is confirmation that you have received the item 
							in good working order! Ensure that you are
							happy to rent the item in the current condition
							before entering the code.</li>
						<li> Use whatever you're borrowing for the agreed upon time. </li>
					</ul>
				</div>
			</div>
			<div class="how-box">
				<div class="how-header text-center">
					<h4>It's Return Day</h4>
				</div>
				<div class="how-content  bg-light-grey">
					<ul>
						<li> Return the item to its owner on the agreed upon 
							date. You will find a code on your account page for this contract.
							the owner must
							enter this in their account - this is confirmation that 
							they have received the item in good condition.</li>
						<li> Payment will be taken from your account and your 
							deposit will be returned.</li>
						<li> If you do not return the item your deposit will be taken
							and given to the owner as compensation.</li>
						
					</ul>
				</div>
			</div>
			<div class="how-box">
				<div class="how-header text-center">
					<h4>Insurance</h4>
				</div>
				<div class="how-content">
					<p>In order to keep all parties safe, we insure all
						of our borrowers. Our insurer uses
						the details kept in your smart contract to insure 
						you against harm while using an item. We also insure
						the item against damage and loss becuase we know 
						accidents can happen. We do this to keep all 
						of our members safe.</p>
				</div>
			</div>
		</div>

		<div class="col-md-3"></div>
	</div>
</div>
